.not-found {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(var(--vh, 1vh) * 100);
  flex-direction: column;
  gap: 15px;
  &__text {
    margin: 0;
    padding: 0;
    font-size: 36px;
  }
}