.auth-page {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: calc(var(--vh, 1vh) * 100 - env(safe-area-inset-top) - env(safe-area-inset-bottom));
  &__form {
    width: 300px;
  }
}