.room {
  text-align: center;
  height: calc(var(--vh, 1vh) * 100 - env(safe-area-inset-top) - env(safe-area-inset-bottom));
  &__header {
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__header-user {
    background: rgba(97, 97, 97, 0.55);
    padding: 3px 12px;
    border-radius: 29px;
    font-weight: 700;
    font-size: 14px;
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &__header-control {
    background: rgba(97, 97, 97, 0.55);
    border-radius: 50%;
    display: flex;
    align-items: center;
    padding: 8px;
  }
  &__header-controls{
    display: flex;
    align-items: center;
    gap: 10px;
  }
  &__content {
    width: 100%;
    height: 700px;
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    align-items: center;
  }
  &__content-loader {
    width: 400px;
    height: 400px;
    margin-top: 20px;
  }
  &__header-actions {
    display: flex;
    width: 100%;
    align-items: center;
    margin-left: 20px;
  }
}
.controls-video {
  position: fixed;
  z-index: 1;
  bottom: 43px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  right: 0;
  left: 0;
  /* border: 1px solid black; */
  margin: 0 15px;
  padding: 15px 15px 15px;
  background: rgba(30, 30, 30, 0.5);
  border-radius: 30px;
  &__header,&__footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
  }
  &__footer {
    margin-top: 30px;
  }
  &__item--full {
    min-width: 137px;
    display: flex;
    align-items: center;
    background: rgba(255, 255, 255, 0.16);
    padding: 15px 25px;
    border-radius: 50px;
    font-size: 11px;
    svg {
      margin-right: 6px;
    }

  }

}
.icon {
  cursor: pointer;
  background: rgba(255, 255, 255, 0.16);
  border-radius: 50%;
  width: 45px;
  height: 45px;
  padding: 15px;
  display: flex;
  align-items: center;

  &--red{
    background: #EB5545;
  }
}
.video-container {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 10px;
  row-gap: 10px;
  height: calc(100% - 60px);
  position: relative;
  &--many-remote {
    padding: 0 12px;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: min-content;
  }
}
.video-container-remote {
  position: relative;
  width: 100%;
}
.video {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 100%;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid transparent;
  &--remote:last-child:nth-child(odd) {
    transform: translateX(50%);
  }
  &__poster {
    display: flex;
    justify-content: center;
    align-items: center;
    
    position: absolute;
    z-index: 1;
    inset: 0;
  }
}


.video__label {
  position: absolute;
  z-index: 2;
  top: 12px;
  left: 50%;
  transform: translateX(-50%);
  padding: 4px 12px;
  font-size: 12px;
  color: #fff;
  border-radius: 12px;
  background-color:rgba(30, 30, 30, 0.5);
  display: flex;
  gap: 10px;
}

.video__label-text {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}

video {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 1;
  pointer-events: none;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.local-video {
  margin-top: 20px;
  width: 110px;
  height: 110px;
  background-color: #fff;
  border-radius: 16px;
  position: fixed;
  bottom: 160px;
  right: 20px;
  padding-top: 0;
  z-index: 9999;
  transition: top 0.3s ease, left 0.3s ease;
  cursor: grab;
}

.local-video:active {
  cursor: grabbing;
}
.video.active {
  border: 2px solid #61ff72;
  box-shadow: 0 0 10px rgb(97, 255, 114);
}

.controls {
  margin-bottom: 20px;
}
.video-placeholder {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  border-radius: 10px;
  &__user {
    font-size: 28px;
    color: #000;
    background: rgba(255, 255, 255, 0.16);
    width: 50px;
    height: 50px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    border-radius: 50px;
    justify-content: center;
  }
}

.retry-button {
  margin-top: 10px;
  background-color: #007bff;
  color: #fff;
}

.controls-video-remote {
  position: absolute;
  bottom: 10px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.remote-video-one{
  height: 100%;
  padding-top: 0;
  border-radius: 0;
  &:last-child:nth-child(odd) {
    transform: translateX(0);
  }
}
@media screen and (min-width: 768px) {
  .remote-video-one {
    border-radius: 10px;
  }
  .video {
    width: 300px;
    &--remote:last-child:nth-child(odd) {
      transform: translateX(0);
    }
  }
  .local-video {
    width: 200px;
    height: 200px;
  }
  .controls-video {
    width: 500px;
    bottom: 20px;
    margin: 0 auto;
    border-radius: 25px;
    &__header,&__footer {
      gap: 25px;
    }
  }
  .video-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    gap: 10px; /* Расстояние между видео */
    width: 100%;
    align-content: start;
    grid-auto-rows: 300px;
  }


}
.dark {
  .room {
    &__header-user {
      background: rgba(97, 97, 97, 0.55);
    }
    &__header-control {
      background: rgba(97, 97, 97, 0.55);
    }
  }
}
.loader {
  animation-name: spin;
  animation-duration: 2000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes spin {
  from {
    transform:rotate(0deg);
  }
  to {
    transform:rotate(360deg);
  }
}
